.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  &__title{
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
  }
  &__cart{
    width: 6rem;
    height: 2rem;
    margin: 1rem;
  }
}